<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <div class="card-titles text-primary border-bottom border-primary">
                    HOẠT ĐỘNG SẮP TỚI
                </div>
                <div class="row mt-3">
                    <div class="col-sm-6">
                        <div class="card p-3 border-0 bg-light">
                            <div class="card-image">
                                <img class="img-fluid" src="./77377368_1051565571869944_3347375967222890496_n.jpg" alt="" height="100%">
                            </div>
                            <div class="card-title">
                                <a href="" class="">NGUYEN LAN ANH</a>
                            </div>
                            <div class="card-text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio veritatis autem odio laboriosam doloremque quae
                            </div>
                            <div class="class-text small">
                                19/09/2000
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="h-100">
                            <a href="#" class="d-block text-body">Active item</a>
                            <a href="#" class="d-block text-body">Active item</a>
                            <a href="#" class="d-block text-body">Active item</a>
                            <a href="#" class="d-block text-body">Active item</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="row">
                    <div style="width: 150px;height: 150px;overflow: hidden;">
                        <img src="../../../Component/user/test/banner.jpg" alt="" width="150px">
                    </div>
                    <div class="col">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi qui magnam cupiditate ad autem recusandae sit non molestiae voluptatibus pariatur aliquam quasi ut officiis, laudantium facere omnis eos iure quo.
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>